In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df = df[["Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
#SibSp 0-8, Parch 0-6

In [6]:
df["Parch"].unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [7]:
df["SibSp"].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [8]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [9]:
df = df[df["Embarked"].notnull()]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [11]:
df["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [12]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")
df["Age"] = imputer.fit_transform(df[["Age"]])

In [14]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [15]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [16]:
gender_dct = {"male": 0, "female": 1}
df["Sex"] = [gender_dct[g] for g in df["Sex"]]

In [17]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [18]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
matrix = encoder.fit_transform(df[['Embarked']]).toarray()

column_names = ["Chernourg", "Queenstown", "Southampton"]

for i in range(len(matrix.T)):
    df[column_names[i]] = matrix.T[i]
    
df = df.drop(['Embarked'], axis=1)

In [19]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Chernourg,Queenstown,Southampton
0,0,3,0,22.000000,1,0,7.2500,0.0,0.0,1.0
1,1,1,1,38.000000,1,0,71.2833,1.0,0.0,0.0
2,1,3,1,26.000000,0,0,7.9250,0.0,0.0,1.0
3,1,1,1,35.000000,1,0,53.1000,0.0,0.0,1.0
4,0,3,0,35.000000,0,0,8.0500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,27.000000,0,0,13.0000,0.0,0.0,1.0
887,1,1,1,19.000000,0,0,30.0000,0.0,0.0,1.0
888,0,3,1,29.642093,1,2,23.4500,0.0,0.0,1.0
889,1,1,0,26.000000,0,0,30.0000,1.0,0.0,0.0
890,0,3,0,32.000000,0,0,7.7500,0.0,1.0,0.0

In [20]:
X = df.drop("Survived", axis=1)
y = df["Survived"]

In [21]:
X
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
X_train

array([[-1.52732441,  1.36213864,  0.40542833, ..., -0.48412292,
        -0.31180478,  0.62126074],
       [ 0.84369667, -0.73413966,  0.17088137, ..., -0.48412292,
        -0.31180478,  0.62126074],
       [ 0.84369667, -0.73413966, -0.01346529, ..., -0.48412292,
         3.2071349 , -1.60963011],
       ...,
       [ 0.84369667, -0.73413966, -1.08003573, ..., -0.48412292,
        -0.31180478,  0.62126074],
       [ 0.84369667, -0.73413966, -2.09640588, ..., -0.48412292,
        -0.31180478,  0.62126074],
       [ 0.84369667,  1.36213864, -0.01346529, ..., -0.48412292,
         3.2071349 , -1.60963011]])

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

In [26]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.2192982456140351

In [27]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1], dtype=int64)

In [28]:
y_test

48     0
647    1
876    0
336    0
10     1
      ..
526    1
88     1
648    0
411    0
523    1
Name: Survived, Length: 178, dtype: int64

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[100  14]
 [ 18  46]]

0.8202247191011236

In [30]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=10,metric='minkowski',p=2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [31]:
y_pred = classifier.predict(X_test)

In [32]:
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[104  10]
 [ 22  42]]

0.8202247191011236

In [33]:
import pickle 

data = {"model": classifier, "scaler": sc}
with open('saved_steps.pkl', 'wb') as file:
    pickle.dump(data, file)

In [34]:
with open('saved_steps.pkl', 'rb') as file:
    data = pickle.load(file)

classifier_loaded = data["model"]
scaler_loaded = data["scaler"]
y_pred = classifier_loaded.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[104  10]
 [ 22  42]]

0.8202247191011236

In [35]:
X_one = np.array([[2,"male",22,1,0,20,0,0,1]])

In [36]:
if X_one[0, 1] == "male":
    X_one[0, 1] = 0
else:
    X_one[0, 1] = 1

In [37]:
X_one

array([['2', '0', '22', '1', '0', '20', '0', '0', '1']], dtype='<U11')

In [38]:
X_one = scaler_loaded.transform(X_one)

C:\Users\glowa\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [39]:
X_one

array([[-0.34181387, -0.73413966, -0.61094182,  0.52663028, -0.45070243,
        -0.25989895, -0.48412292, -0.31180478,  0.62126074]])

In [41]:
y_pred_one = classifier_loaded.predict(X_one)

In [42]:
y_pred_one

array([0], dtype=int64)

In [43]:
y_pred_one = classifier_loaded.predict_proba(X_one)

In [44]:
y_pred_one

array([[0.9, 0.1]])